# sbt
# (may want to keep parts of 'project')
bin/
project/target
target/
build/

# intellij idea
*.log
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.scala_dependencies
.cache
.cache-main

#general
*.cs